venv
db.sqlite3
DjangoGit.txt

# Visual Studio Code #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# Python #
*.py[cod]
*$py.class
__pycache__
.pytest_cache